@font-face {
    @include font-face('Roboto', '../fonts/Roboto/Roboto Bold', 'Roboto Bold', 700, normal, normal);
}

@font-face {
    @include font-face('Roboto', '../fonts/Roboto/Roboto Bold Italic', 'Roboto Bold Italic', 700, italic, normal);
}

@font-face {
    @include font-face('Roboto', '../fonts/Roboto/Roboto Italic', 'Roboto Italic', 400, italic, normal);
}

@font-face {
    @include font-face('Roboto', '../fonts/Roboto/Roboto', 'Roboto', 300, normal, normal);
}

@font-face {
    @include font-face('Roboto Black', '../fonts/Roboto/Roboto Black', 'Roboto Black', 900, normal, normal);
}

@font-face {
    @include font-face('Roboto Black', '../fonts/Roboto/Roboto Black Italic', 'Roboto Black Italic', 900, italic, normal);
}

@font-face {
    @include font-face('Roboto', '../fonts/Roboto/Roboto Light', 'Roboto Light', 300, normal, normal);
}

@font-face {
    @include font-face('Roboto Light', '../fonts/Roboto/Roboto Light Italic', 'Roboto Light Italic', 300, italic, normal);
}

@font-face {
    @include font-face('Roboto Medium', '../fonts/Roboto/Roboto Medium', 'Roboto Medium', 500, normal, normal);
}

@font-face {
    @include font-face('Roboto Medium', '../fonts/Roboto/Roboto Medium Italic', 'Roboto Medium Italic', 500, italic, normal);
}

@font-face {
    @include font-face('Roboto Thin', '../fonts/Roboto/Roboto Thin', '#Roboto Thin', 250, normal, normal);
}

@font-face {
    @include font-face('Roboto Thin', '../fonts/Roboto/Roboto Thin Italic', '#Roboto Thin Italic', 250, italic, normal);
}

@font-face {
    font-family: 'icomoon-icons';
    src: url('../fonts/icomoon/icomoon.eot?rbfoa2');
    src: url('../fonts/icomoon/icomoon.eot?rbfoa2#iefix') format('embedded-opentype'), 
        url('../fonts/icomoon/icomoon.ttf?rbfoa2') format('truetype'), 
        url('../fonts/icomoon/icomoon.woff?rbfoa2') format('woff'), 
        url('../fonts/icomoon/icomoon.svg?rbfoa2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    speak: none;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  