$palette-0: #000;
$palette-1: #fff;
$palette-2: rgba(255, 255, 255, .9);
$palette-3: rgba(0, 0, 0, .3);
$palette-4: #313131;
$palette-5: rgba(255, 255, 255, .3);
$palette-6: rgba(0, 0, 0, 0);
$palette-7: #999;
$palette-8: #1a1a1a;
$palette-9: #05668d;
$palette-10: #034863;
$palette-11: rgba(0, 0, 0, .55);
$palette-12: rgba(0, 0, 0, 0);

$font-0: 'Roboto', sans-serif;
$font-1: 'Roboto Light', sans-serif;
$font-2: 'Roboto Medium', sans-serif;
$font-3: 'Roboto Thin', sans-serif;
$font-4: 'Roboto Black', sans-serif;
$font-5: 'icomoon-icons';

$icon-chevron-down: '\e902';
$icon-chevron-up: '\e903';
$icon-search: '\e900';
$icon-twitter: '\f099';
$icon-facebook: '\f09a';
$icon-linkedin: '\f0e1';
$icon-youtube: '\f167';
$icon-instagram: '\f16d';
$icon-pinterest: '\f231';
$icon-info: '\ea0c';
$icon-breadcumps: '\e904';
$icon-left: '\e908';
$icon-right: '\e909';

$icon-google: '\e905';
$icon-email: '\e906';
$icon-print: '\e907';

$sprite-images:  url('../images/presidio-spriteImages.png');
