div(class="psd-content app-container")
    div
        span
        span
            div
            div
                div
                    div
                        div
                            div
                                div
                                    div(class="psd-banner")
                                        div
                                            div(class="psd-banner__list")
                                                div(class="psd-banner__item")
                                                    div(class="psd-banner__item--text")
                                                        div
                                                            div
                                                                h1 WELCOME
                                                                span Discover popular places to visit at your national park.
                                                                a Places to Visit
                                            div(class="psd-banner__indicators")
                                                ol
                                                    li(class="active")
                                                    li
                                                    li              