h2
    span Learn More
section(class="psd-explore")
    div(class="ms-srch-group-content")
        article(class="psd-explore__item")
            h3(class="psd-explore__title")  Strategy
            a(class="psd-explore__img") 
                img(src="https://picsum.photos/350/380")
            a(class="psd-explore__more" href="#") More
        article(class="psd-explore__item")
            h3(class="psd-explore__title") Strategy
            a(class="psd-explore__img") 
                img(src="https://picsum.photos/350/380")
            a(class="psd-explore__more" href="#") More
        article(class="psd-explore__item")
            h3(class="psd-explore__title") Strategy
            a(class="psd-explore__img") 
                img(src="https://picsum.photos/350/380")
            a(class="psd-explore__more" href="#") More
        article(class="psd-explore__item")
            h3(class="psd-explore__title") Strategy
            a(class="psd-explore__img") 
                img(src="https://picsum.photos/350/380")
            a(class="psd-explore__more" href="#") More
        article(class="psd-explore__item")
            h3(class="psd-explore__title") Strategy
            a(class="psd-explore__img") 
                img(src="https://picsum.photos/350/380")
            a(class="psd-explore__more" href="#") More
        article(class="psd-explore__item")
            h3(class="psd-explore__title") Strategy
            a(class="psd-explore__img") 
                img(src="https://picsum.photos/350/380")
            a(class="psd-explore__more" href="#") More
