
footer(class="psd-footer")
    div(class="psd-footer__container")
        h1(class="psd-footer__heading")
            a PRESIDIO TRUST
        ul(class="psd-footer__column")
            li 
                a About the Presidio Trust
            li 
                a Board  and Executive Team
            li 
                a Jobs
            li 
                a Press
            li 
                a Public Documents
            li 
                a Presidio Tunnel Tops
            li 
                a Fort Winfield Scott RFCP
        ul(class="psd-footer__column")
            li 
                a About the Presidio Trust
            li 
                a Board  and Executive Team
            li 
                a Jobs
            li 
                a Press
            li 
                a Public Documents
            li 
                a Presidio Tunnel Tops
            li 
                a Fort Winfield Scott RFCP
        ul(class="psd-footer__column")
            li 
                a About the Presidio Trust
            li 
                a Board  and Executive Team
            li 
                a Jobs
            li 
                a Press
            li 
                a Public Documents
            li 
                a Presidio Tunnel Tops
            li 
                a Fort Winfield Scott RFCP
        div(class="psd-footer__singup")
            div(class="psd-footer__singup__container")
                h2(class="psd-footer__singup__heading") Get Presidio Events + News
                label(class="psd-footer__singup__label") Email: 
                input(class="psd-footer__singup__input-text" type="text" placeholder="email address")
                input(class="psd-footer__singup__button" type="submit" value="Sign Up" text="Sign Up")
                a(class="psd-footer__singup__fb") Sign up with Facebook
            span
        div(class="psd-footer__social")
            strong Join Us
            a(class="psd-footer__social--facebook" href="#") 
                span Facebook
            a(class="psd-footer__social--twitter" href="#") 
                span Twitter
            a(class="psd-footer__social--instagram" href="#") 
                span Instagram
            a(class="psd-footer__social--youtube" href="#") 
                span Youtube
            a(class="psd-footer__social--pinterest" href="#") 
                span Pinterest
            a(class="psd-footer__social--linkedin" href="#") 
                span Linkedin
        div(class="psd-footer__credits") Presidio Trust  | 103 Montgomery Street  |  San Francisco  |  CA  |  94129  | (415) 561-5300 |                            							
            a presidio@presidiotrust.gov
            br
            Presidio Trust 2018
