header(class="psd-header")
  div(class="psd-header__container")
    a(class="psd-header__burger" id="top__menu-mobile") See menu  
      span
      span
      span    
    a(class="psd-header__logo") THE PRESIDIO
    nav(class="psd-header__menu")
      div
        div 
          div(class="psd-header__menu--primary")
            div
              div
                ul(class="root")
                  li(class="dynamic-children")
                    span(class="open") Open
                    a(href="#") 
                      span(class="additional-background dynamic-children")  
                        span Visit
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit the Presidio
                      li
                        a(href="#")
                          span
                            span Plan Your Visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Guide
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="/espanol")
                          span
                            span Español
                      li
                        a(href="/chinese")
                          span
                            span Chinese
                  li(class="dynamic-children")
                    span(class="open") Open
                    a(href="#") 
                      span(class="additional-background dynamic-children")  
                        span Events
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li(class="dynamic-children")
                    span(class="open") Open
                    a(href="#") 
                      span(class="additional-background dynamic-children")  
                        span Places to Go
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese        
                  li(class="dynamic-children")
                    span(class="open") Open
                    a(href="#") 
                      span(class="additional-background dynamic-children")  
                        span Things to Do
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li(class="dynamic-children")
                    span(class="open") Open
                    a 
                      span(class="additional-background dynamic-children")  
                        span Food
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li(class="dynamic-children")
                    span(class="open") Open
                    a(href="#") 
                      span(class="additional-background dynamic-children")  
                        span Lodging
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li(class="dynamic-children")
                    span(class="open") Open
                    a(href="#") 
                      span(class="additional-background dynamic-children")  
                        span Transportation
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li(class="dynamic-children")
                    span(class="open") Open
                    a(href="#") 
                      span(class="additional-background dynamic-children")  
                        span Lease
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li
                    span(class="open") Open
                    a(href="#") 
                      span 
                        span Blog
                    ul(class="dinamyc")
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
          div(class="psd-header__menu--secondary")
            div
              div
                div
                  div
                    ul
                      li(class="static")
                        a
                          span
                            span The Presidio
                      li(class="static")
                        a
                          span
                            span Presidio Trust
                      li(class="static")
                        a
                          span
                            span  Presidio Tunnel Tops
                      li(class="static")
                        a
                          span
                            span  For Teachers
                      li(class="static")
                        a
                          span
                            span  Fort Winfield Scott RFCP                      
    div(class="psd-header__search" id="top__search")
      label(for="")
      input(class="search-box", type="search", name="", placeholder="")
    div(class="psd-header__user")


  