header(class="header")
  div(class="header__container")
    a(class="header__") See menu      
    a(class="header__") THE PRESIDIO
    nav(class="header__menu")
      div
        div 
          div
            div
              div
                ul
                  li
                    span Open
                    a 
                      span  
                        span Visit
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li
                    span Open
                    a 
                      span  
                        span Events
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li
                    span Open
                    a 
                      span  
                        span Places to Go
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese        
                  li
                    span Open
                    a 
                      span  
                        span things to Do
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li
                    span Open
                    a 
                      span  
                        span Food
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li
                    span Open
                    a 
                      span  
                        span Lodging
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li
                    span Open
                    a 
                      span  
                        span Transportation
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li
                    span Open
                    a 
                      span  
                        span Lease
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
                  li
                    span Open
                    a 
                      span  
                        span Blog
                    ul
                      li
                        a(href="#")
                          span
                            span Visit The Presidio
                      li
                        a(href="#")
                          span
                            span Plan your visit
                      li
                        a(href="#")
                          span
                            span Visitor Center
                      li
                        a(href="#")
                          span
                            span Presidio Visitor Center
                      li
                        a(href="#")
                          span
                            span Sample Itinenaries
                      li
                        a(href="#")
                          span
                            span Printable Maps
                      li
                        a(href="#")
                          span
                            span Virtual Map
                      li
                        a(href="#")
                          span
                            span Español
                      li
                        a(href="#")
                          span
                            span Chinese
          div
            div
              div
                div
                  div
                    ul
                      li
                        a
                          span
                            span The Presidio
                      li
                        a
                          span
                            span Presidio Trust
                      li
                        a
                          span
                            span  Presidio Tunnel Tops
                      li
                        a
                          span
                            span  For Teachers
                      li
                        a
                          span
                            span  Fort Winfield Scott RFCP                      
    div(class="header__search")
      label(for="")
      input(class="", type="search", name="", placeholder="")
    div(class="header__user")


  