.psd-header {
    $a: &;
    @include font-size(18px);
    font-family: $font_0;
    left: 0;
    margin-left: 0;
    min-height: 100px;
    position: fixed;
    width: 100%;
    @include transition(margin-left .3s ease);
    z-index: 13;
    a {
        text-decoration: none;
    }
    &:after {
        background-color: $palette_0;
        content: ' ';
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        @include transition(opacity .3s ease);
    }  
    &:before {
        background-color: $palette_6;
        border-bottom: 1px solid transparent;
        height: 100px;
        content: ' ';
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        z-index: -1;
        @include transition(background-color .3s ease, height .3s ease, border-bottom .3s ease);
    }  
    &.mobile {
        // Class used to show lateral menu
        margin-left: calc(300px - 46px);
    }
    &.searching {
        height: 100%;
        &:after {
            height: 100%;
            opacity: .75;
        }
    }
    &.header--fixed{
        &.searching{
            // When is searching 
            &:before {
                height: 132px;
            }
        }
        &:before {
            background-color: $palette_4;
            border-bottom: 1px solid $palette_5;
            content: ' ';
            height: 82px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
            @include transition(background-color .3s ease, height .3s ease, border-bottom .3s ease);
        }
    }
    &__container {
        margin: 19px auto 0;
        max-width: 1366px;
        width: 100%;
        @include transition(margin .3s ease);
        #{$a}.mobile & {
            // When the lateral menu is opened
            margin: 19px 0 0;
        }
        #{$a}.searching & {
            // When is searching 
            margin-top: 69px;
        }
    }
    &__burger {
        // Burger Icon
        float: left;
        height: 25px;
        left: 0;
        margin: 10px 0 0 0px;
        position: relative;
        text-indent: -10000px;
        width: 25px;
        @include transition(left .3s ease);
        span {
            background-color: $palette_1;
            display: block;
            float: left;
            height: 3px;
            left: 0;
            position: absolute;
            top: 0;
            width: 25px;
            @include transform-origin(center center);
            @include transition(transform .3s ease, opacity .3s ease, top .3s ease);
            &:nth-child(2) {
                top: 9px;
            }
            &:nth-child(3) {
                top: 18px;
            }
        }
        #{$a}.mobile & {
            // When the lateral menu is opened
            left: 238px;
            margin-top: 0;
            position: fixed;
            z-index: 2;
            span {
                &:nth-child(1),
                &:nth-child(3) {
                    height: 1px;
                    top: 12px;
                }
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &__logo {
        // Logo header 
        background-position: 0 0;
        float: left;
        height: 28px;
        margin: 6px 20px;
        text-indent: -10000px;
        width: 192px;
        @include imgSprite('presidio-header');
        #{$a}.mobile & {
            margin-left: 57px;
        }
    }
    &__menu {
        // Menu container
        display: inline-block;
        padding: 8px 0 0 10px;
        &--primary {
            // Primary - desktop top menu
            height: 35px;
            ul.root {
                // First level menu
                font-weight: lighter;
                padding: 0 0 0 5px;
                a {
                    color: $palette_1;
                }
                .open {
                    display: none;
                }
                >li {
                    display: inline-block;
                    font-weight: 300;
                    margin: 0 12px;
                    padding: 2px 0 5px;
                    position: relative;
                }
            }
            li.dynamic-children:hover {
                border-bottom: 3px solid $palette_1;
                ul.dinamyc {
                    display: block; // DELETE
                }
                .dynamic-children.additional-background:after {
                    content: $icon-chevron-down;
                }
            }
            ul.dinamyc {
                // Second level menu                
                background-color: $palette_2;
                box-shadow: none;
                border: none;
                display: none; // DELETE!
                @include font-size(16px);
                left: -15px; // DELETE!
                list-style: none;
                margin: 4px 0 0 15px;
                min-width: 230px;
                padding: 0;
                position: absolute;
                top: 31px; // DELETE!
                a {
                    color: $palette_0;
                    &[href$='/chinese']:before,
                    &[href$='/espanol']:before {
                        font-family: $font_5;
                        content: $icon-info;
                        margin-right: 5px;
                        font-weight: 400;
                    }
                }
                >li {
                    border-bottom: 1px solid $palette_3;
                    display: list-item;
                    margin: 0;
                    padding: 8px 15px;
                    white-space: nowrap;
                }
            }
            .dynamic-children.additional-background:after {
                // Down arrow               
                font-family: $font_5;
                @include font-size(14px);
                height: 22px;
                line-height: 22px;
                padding: 0 0 0 6px;
                text-align: center;
                width: 28px;
                content: $icon-chevron-down;
            }
        }
        &--secondary {
            // Secondary - Aside lateral menu
            // display: none; //DELETE!
            background-color: $palette_4;
            font-size: 20px;
            font-weight: 300;
            height: 100%;
            left: -300px;
            margin-top: -62px;
            overflow-y: visible;
            padding: 0;
            position: fixed;
            width: 300px;
            @include transition(left .3s ease);
            #{$a}.mobile & {
                // When the lateral menu is opened
                left: 0;
            }
            a {
                color: $palette_1;
            }
            ul {
                font-weight: 300;
                padding: 82px 0 0 15px;
            }
            li.static {
                margin: 0 12px;
                padding: 14px 0;
            }
        }
    }
    &__search {
        // Search
        cursor: pointer;
        float: right;
        height: 36px;
        margin: 0 25px 0 0;
        position: relative;
        width: 36px;
        &:before {
            color: $palette_1;
            font-family: $font_5;
            @include font-size(30px);
            height: 36px;
            line-height: 36px;
            position: absolute;
            right: 0;
            top: 0;
            width: 36px;
            z-index: 0;
            font-weight: 400;
            @include transition(color .3s ease);
            content: $icon-search;
            #{$a}.searching & {
                // When is searching 
                top: 69px;
            }
        }
        label {
            cursor: pointer;
            display: none;
            height: 36px;
            position: absolute;
            right: 0;
            text-indent: -10000px;
            width: 36px;
            z-index: 3;
        }
        input {
            border: none;
            color: $palette_0;
            cursor: pointer;
            display: none;
            font-family: $font_0;
            @include font-size(22px);
            font-weight: 300;
            height: 0;
            outline: 0;
            padding: 5px 15px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 3;
            @include transition(height .3s ease);
            #{$a}.searching & {
                // When is searching 
                display: block;
                height: 50px;
                width: 100%;
            }
        }
        #{$a}.searching & {
            // When is searching 
            height: auto;
            margin: -112px 0 0;
            width: 100%;
        }
    }
    &__user {}

}

