@mixin imgSprite($name){
    background-image: $spriteImages;
    @if $name=='presidio-header' {
        background-position: 0 0;
        height: 28px;
        width: 192px;
    }
    @if $name=='presidio-footer' {
        background-position: 0 -29px;
        height: 52px;
        width: 150px;
    }
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform-origin($val) {
    -webkit-transform-origin: $val;
    -moz-transform-origin: $val;
    -ms-transform-origin: $val;
    transform-origin: $val;
}

@mixin font-face($name, $file, $alias, $weight, $style, $stretch){
    font-family:$name;
    src: url($file+'.eot');
	src: url($file+'.eot?#iefix') format('embedded-opentype'),
		url($file+'.woff2') format('woff2'),
		url($file+'.woff') format('woff'),
		url($file+'.svg#'+$alias) format('svg');
    font-weight: $weight;
    font-style: $style;
    font-stretch: $stretch;
    unicode-range: U+0020-2044;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}
