$palette_0: #000;
$palette_1: #fff;
$palette_2: rgba(255, 255, 255, .9);
$palette_3: rgba(0, 0, 0, .3);
$palette_4: #313131;
$palette_5: rgba(255, 255, 255, .3);
$palette_6: rgba(0, 0, 0, 0);

$font_0: 'Roboto', sans-serif;
$font_1: 'Roboto Light', sans-serif;
$font_2: 'Roboto Medium', sans-serif;
$font_3: 'Roboto Thin', sans-serif;
$font_4: 'Roboto Black', sans-serif;
$font_5: 'icomoon';

$icon-chevron-down: "\e902";
$icon-chevron-up: "\e903";
$icon-search: "\e904";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-linkedin: "\f0e1";
$icon-youtube: "\f167";
$icon-instagram: "\f16d";
$icon-pinterest: "\f231";
$icon-info: "\ea0c";

$spriteImages:  url(../images/presidio-spriteImages.png);